#
#        ____________________________________________________
#        |                                                  |
#        |                     TWIM                         |
#        |          Tiny Website Image Manager              |
#        |                                                  |
#        |                   .htaccess                      |
#        |                                                  |
#        |      (c) PhiXi, 2025 (github.com/phi-xi)         |
#        |__________________________________________________|


## Disable remote access by default (comment out for productive):
require local
